@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 10px;
}
/* HOME PAGE */
 
 .haeding-text h1{

    font-family: 'Montserrat', sans-serif;
    font-size: 8rem;
    margin-top: 200px;  
    font-weight: 800 px;
    align-items: center;
} 

 .headingbody .left-container {
   
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
.headingbody{
    margin-top: 30%;
}

.main-body .left-container p{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem ;
   margin-top: 2rem;
   margin-bottom: 2rem;
}
.main-body .left-container button{
    padding: 24px 32px 24px 32px ;
    border-radius: 100px;
    color: white;
    background: linear-gradient( 88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    width: 192px;
    height: 68px;
    border: none;
 
    
}
.left-container button{
    font-size: 2.3rem;
    cursor: pointer;
    transition: all 300ms ease-out;
}
.left-container button:hover{
    background: plum;
    font-size: 25px;
    color: black;   
}
.text1{
    color: orangered;
}
/* ABOUT SECTION */
.about-main{
    width: 100%;
    height: 100%;
    background: center;
    background-size: cover;
    background-image: url(Frame\ 58.jpg);
    background-repeat: no-repeat;
    margin-top: 187px;
}
.about-container{
    width: 80vw;
    height: 600px;
    margin: 2rem;
}
.about-herosection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .about-right .about h1{
    font-size: 50px;
    color: #65625e;
    font-family: 'Montserrat', sans-serif;
    
}
.about-right .about p{
    font-size: 30px;
    color:black;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.about-right .about button{
    color: white;
    border: none;
    border-radius: 100px;
    background:linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    width: 192px;
    height: 68px;
    padding: 24px 35px 24px 35px;
    
}
.about button{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.about button:hover{
    color: black;
    background: #FF1E1E;
   
    font-size: 23px;
    
}

 .my-image {
    height: 545px;
    width: 400px;
    margin-top: 50px;
}
.my-image img{
    width: 100%;
    height: 100%;
}
    
/* section my recipe-
 RECIPES SECTION */

 .recipes-body.my-recipe h1{
    font-size: 40px;
    color:#676767;
  
}

 .recipes-body .my-recipe p{
    color:#252525;
    font-size: 1.5rem;
     margin-top: 1.5rem;
     font-weight: 400px;
     
}
 
.card {
    margin-bottom: 129px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    background-color: white;
    width: 40rem;
    
   
}
@media (min-width: 992px) { 
    .paragraph{
        width: 750px;
        margin-left: 20%;
    }
 }
.myrecipe h1{
    font-size: 5rem;
   font-weight: 700;
    font-family: 'Montserrat', sans-serif;  
    text-align: center;  
 }
.myrecipe p{
   font-size: 30px; 
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   
}
.items{
    border-radius: 20px;
    margin-bottom: 40PX; 
}
   
.recipestext h1{
    font-size: 38px;
    font-weight: 700px;
    margin-top: 1rem;
    color: #18191F;;
}


.recipestext p{
    margin-top: 20px;
    font-weight: 400px;
    font-size: 23px;
    max-width: 600px;
} 
.status-row{
    background-color: rgb(241, 235, 235);
}

.footer-part{
    width: 100%;
    height: 200px;
    background-color: #18191F;
    color: white;
    margin-top: 100px;
    text-align: center;

}
.text-food{
    color: #FBA24F;
}
.footer-part h1{
  
    font-weight: 400px;
    font-size: 20px;
    padding-top: 30px;
}
.footer-part p{
    padding-top: 30px;
    font-size: 10px;
}